body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
}

.app {
  text-align: center;
  padding: 12px;
}

.header {
  background: #1e90ff;
  padding: 12px;
  font-weight: bold;
}

button {
  padding: 12px;
  margin-top: 10px;
  background: #00ffcc;
  border: none;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#map {
  height: 300px;
  margin-top: 10px;
  border-radius: 10px;
}
